// THIS IS THE CODE FOR THE IN-GAME 'CODE' SECTION.
// Copy and paste the code below the start comment into the CODE window, then
// click the 'engage' button to run the code.

// EDIT THE STARTUP PATH TO YOUR LOCAL CODE FOLDER
// This can be the game folder (type '/codes' in the game chat)
// or a separate folder anywhere on your drives

// It may be useful to have two paths if working with multiple operating systems.
// Uncomment the one you need depending on which OS you are currently running,
// and comment the other as needed, or if running a single OS, delete the line
// for the OS you don't need.

// Requires npm package 'fs': npm install fs
// Run the above command from a command line while inside the root of this code folder.

// ---------- START OF CODE ---------- //

const fs = require('fs');
const os = require('os');

let opSys = os.platform();

let startup;
let classType;

function findOs() {
  switch (opSys) {

    case 'win32':
      startup = 'D:/path/to/require/code'
      break;
    case 'linux':
      startup = '/path/to/require/code';
      break;
  }
  return;
}
findOs();

function classToLoad() {

  switch (character.ctype) {

    case 'merchant':
      classType = 'Merchant'
      break;
    case 'ranger':
      classType = 'Ranger'
      break;
    case 'mage':
      classType = 'Mage'
      break;
    case 'priest':
      classType = 'Priest'
      break;
    case 'rogue':
      classType = 'Rogue'
      break;
    case 'warrior':
      classType = 'Warrior'
      break;
  }
  return;
}
classToLoad();

function loadLocalFile(filePath) {
  let data = fs.readFileSync(filePath, 'utf8');
  return data;
}

function loadRequirementsAndThenAllLocalFiles() {
  loadAllLocalFiles(['require' + classType])
  loadAllLocalFiles(requires);
}

function loadAllLocalFiles(files) {
  for (let i in files) {
    let data = loadLocalFile(startup + files[i] + '.js');
    eval.apply(window, [data]);
  }
  game_log("Loaded " + files.length + " files");
}
loadRequirementsAndThenAllLocalFiles()